
<h1>Welcome to my rails practice page!</h1>
<p>
	Hey, this is just practice page.
	<%= link_to "rails", "www.google.com" %>

	<a href="http://www.google.com">Hello Wolrd!</a>
</p>
<p>
	Hey, this is just practice page.
	<%= link_to "rails", "www.google.com" %>

	<a href="http://www.google.com">Hello Wolrd!</a>
</p>
<p>
	Hey, this is just practice page.
	<%= link_to "rails", "www.google.com" %>

	<a href="http://www.google.com">Hello Wolrd!</a>
</p>
<p>
	Hey, this is just practice page.
	<%= link_to "rails", "www.google.com" %>

	<a href="http://www.google.com">Hello Wolrd!</a>
</p><p>
	Hey, this is just practice page.
	<%= link_to "rails", "www.google.com" %>

	<a href="http://www.google.com">Hello Wolrd!</a>
</p><p>
	Hey, this is just practice page.
	<%= link_to "rails", "www.google.com" %>

	<a href="http://www.google.com">Hello Wolrd!</a>
</p><p>
	Hey, this is just practice page.
	<%= link_to "rails", "www.google.com" %>

	<a href="http://www.google.com">Hello Wolrd!</a>
</p><p>
	Hey, this is just practice page.
	<%= link_to "rails", "www.google.com" %>

	<a href="http://www.google.com">Hello Wolrd!</a>
</p><p>
	Hey, this is just practice page.
	<%= link_to "rails", "www.google.com" %>

	<a href="http://www.google.com">Hello Wolrd!</a>
</p><p>
	Hey, this is just practice page.
	<%= link_to "rails", "www.google.com" %>

	<a href="http://www.google.com">Hello Wolrd!</a>
</p><p>
	Hey, this is just practice page.
	<%= link_to "rails", "www.google.com" %>

	<a href="http://www.google.com">Hello Wolrd!</a>
</p><p>
	Hey, this is just practice page.
	<%= link_to "rails", "www.google.com" %>

	<a href="http://www.google.com">Hello Wolrd!</a>
</p>

<p>
	<%= link_to "sign up now!", "#" %>
</p>